<div class="navbar-wagon">
  <a href="#"><i class="fas fa-glass-martini"></i></a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to 'Add new cocktail', new_cocktail_path,class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
